#################
## Unity
#################

Library/
Temp/
obj/
bin/
*.unityproj
*.csproj
*.sln
*.pidb
*.userprefs
*.suo

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini